# TMP volumnes
postgres-data
volumes/**/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Lockfiles
Gopkg.lock
yarn.lock

# API keys and secrets
kube/secrets/**/*
**/kube/secrets/**/*

# Dependency directory
node_modules
**/node_modules
vendor
yarn.lock


# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore build files
**/dist/**/*
**/public
gopath