# TMP volumnes
postgres-data
volumes/**/*
cohesiv/cohesiv.mwb.bak

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
kube/secrets/**/*
**/kube/secrets/**/*

# Dependency directory
node_modules
**/node_modules
vendor


# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore build files
**/dist/**/*
**/public
gopath