swagger: "2.0"
info:
  description: "API for the Cohesiv suite of services."
  version: "1.0.0"
  title: "Cohesiv"
  termsOfService: ""
  contact:
    email: "accounts@singularity-interactive.com"
host: "cohesiv.io"
basePath: "/api"
tags:
- name: "tag"
- name: "resource"
  description: "A resource is anything with an ID that can have tags and visa versa"
schemes:
- "http"
- "https"
paths:
  /health:
    get:
      summary: "Check if server is up and healthy"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            description: "Will be 'OK' if the server is accepting requests"
        500:
          description: "Upstream server error"
  /v1/tags:
    post:
      tags:
      - "tag"
      summary: "Create tags for a resource"
      description: ""
      operationId: "createTags"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Batch create tags request"
        required: true
        schema:
          $ref: '#/definitions/CreateTagsRequest'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Tags"
        400:
          description: "Bad request, misshapen request"
        500:
          description: "Upstream server error"
      security:
      - api_key: []
  /v1/resource/{resourceID}/tags:
    get:
      tags:
      - "tag"
      summary: "Find tags given a resource ID"
      description: "Returns a single pet"
      operationId: "getTagsByResourceID"
      produces:
      - "application/json"
      parameters:
      - name: "resourceID"
        in: "path"
        description: "ID of resource to query tags by"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Tags"
        400:
          description: "Bad or no resource ID supplied"
        500:
          description: "Upstream server error"
      security:
      - api_key: []
  /v1/tags/{tagName}/resources:
    get:
      tags:
      - "resource"
      summary: "Find resources by a tag name"
      description: "Returns a resources"
      operationId: "getEntitiesByTagName"
      produces:
      - "application/json"
      parameters:
      - name: "tagName"
        in: "path"
        description: "Name of tag to query entities by"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Resources"
        400:
          description: "Bad or no name supplied"
        500:
          description: "Upstream server error"
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    description: "Authorization: bearer XXXXXXXXXXX"
definitions:
  Resource:
    type: "object"
    properties:
      ID:
        type: "string"
        description: "Resource ID"
  Resources:
    type: "object"
    properties:
      Results:
        type: "array"
        items:
          $ref: "#/definitions/Resource"
  Tag:
    type: "object"
    properties:
      Name:
        type: "string"
  Tags:
    type: "object"
    properties:
      Results:
        type: "array"
        items:
          $ref: "#/definitions/Tag"
  CreateTagsRequest:
    type: "object"
    properties:
      Tags:
        type: "array"
        items:
          $ref: "#/definitions/CreateTagRequest"
  CreateTagRequest:
    type: "object"
    properties:
      RelationID:
        type: "string"
        description: "ID of resource on which to join the tag, resource doesn't have to exist in DB"
      Name:
        type: "string"
        description: "The tag name"
externalDocs:
  description: "See the GRPC specs"
  url: "https://github.com/SingularityInteractive/cohesiv/blob/master/cohesiv/cohesiv.proto"